node_modules/
.env
.DS_Store
.vscode/
npm-debug.log
yarn-error.log
dist/
coverage/
uploads/
*.log
temp/
*.tmp
*.bak
*.swp
.idea/
*.swo
*.pid
*.seed
*.pid.lock
lib-cov/
*.coverdata
.nyc_output/
*.lock
